.popap__input_error {
  /* visibility: hidden; */
  display: block;
  margin-block-start: 5px;
  opacity: 0;
  color: #f00;
  font-weight: 400;
  font-size: 12px;
}

.popup__error_visible {
  visibility: visible;
  opacity: 1;
}